.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 20;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   box-sizing: border-box;
   padding: 30px 16px;
   width: 460px;
   background-color: white;
   text-align: center;
 }

 .modal-header {
    display: inline-block;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.27);
    width: 396px;
    line-height: 27px;
    font-size: 28px;
    padding: 8px 0px 16px 5px;
    margin-bottom: 8px;
    text-align: left;
 }
 #error {
    text-align: left;
    padding: 0px 16px;
    color: red;
 }
 
 .login-input {
    width: 396px;
    line-height: 20px;
    padding: 16px;
    margin-bottom: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    font-family: inherit;
    font-weight: bold;
 }

 .login-input:focus {
    border: 2px solid rgba(128, 128, 128, 0.8);
 }

 .login-button {
    width: 396px;
    line-height: 55px;
    font-family: inherit;
    font-size: 22px;
    color: white;
    border-radius: 3px;
    background-color: #DA3743;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
 }


 .signup-link {
    text-align: left;
    padding: 0px 4px;
    font-size: 18px;
    margin: 10px 16px 0px 16px;
    padding-top: 10px;
    border-top: .5px solid rgba(0, 0, 0, 0.27);
 }

 .signup-link > button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 0px;
    color: rgba(255, 0, 0, .7);
 }