.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 20;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   box-sizing: border-box;
   padding: 30px 16px;
   width: 460px;
   background-color: white;
   text-align: center;
 }

 .modal-header {
    display: inline-block;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.27);
    width: 396px;
    line-height: 27px;
    font-size: 28px;
    padding: 8px 0px 16px 5px;
    margin-bottom: 8px;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
 }
  
 .login-input {
    position: relative;
    align-content: center;
    justify-content: center;
    width: 396px;
    height: 43px;
    line-height: 20px;
    padding: 16px;
    margin-bottom: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
 }




 .login-button {
    width: 396px;
    color: white;
    //border-radius: 3px;
    cursor: pointer;
    background-color: #DA3743;
    line-height: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-bottom: 5px;
    text-align: center;
    //border-width: thin;
    margin-bottom: 6px;
    border: none;
     transition: all 0.4s;

 }

  .login-button:hover{
    filter: brightness(87%);
 }


 .demo-button { 
    width: 396px;
    color: white;
   // border-radius: 3px;
    cursor: pointer;
    background-color: #DA3743;
    line-height: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    border: none;
    transition: all 0.4s;

 }
 .demo-button:hover{
    filter: brightness(87%);
 }

 .signup-button {
    width: 396px;
    color: white;
    //border-radius: 3px;
    background-color: #DA3743;
    line-height: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    text-align: center;
    //border-width: thin;
    margin-bottom: 6px;
    border: none;
   transition: all 0.4s;
 }

 .signup-button:hover{
    filter: brightness(87%);
 }

 .error-list{
   color: red;
   font-weight: bold;
   font-size: 16px;
   padding-bottom: 8px;
   position: relative;
   text-align: left;
   font-family: 'Source Sans Pro', sans-serif;
   left: 16px;
   height: 16px;
 }


 .signup-link {
    text-align: left;
    padding: 0px 4px;
    font-size: 18px;
    line-height: 1;
    display: block;
    margin: 0;
    padding-top: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
 }

 .signup-link > button {
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    padding: 0px;
    color: #da3743;
    background-color: transparent;
    font-size: 18px;
 }

 .close-modal { 
    cursor: pointer;
    position: absolute;
    left: 90%;
    top: 5%;
    background-color: white;
    color:rgba(63, 61, 61, 0.27);
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;

 }

 .account-link {
    text-align: left;
    padding: 0px 4px;
    font-size: 18px;
    line-height: 1;
    display: block;
    margin: 0;
    padding-top: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
 }

 .account-link > button {
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    padding: 0px;
    color: #da3743;
    background-color: transparent;
    font-size: 18px;
 }

 .button:hover:after {
  background-color: #942c0d;
}