
.header-name {
    font-weight: 200;
    width: 85px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 18px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 20px;
    margin-top: 10px;
}
.header-group{
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: auto;
    margin: 0px -14px 0px 0px;
}

#signup {
    display: inline-block;
    text-align: center;
    background-color: #247f9e;
    border: 1px solid #247f9e;
    color: white;
    width: 80px;
    line-height: 26px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0px 8px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

#login {
    text-align: center;
    //needs background colors
    color: white;
    width: 80px;
    line-height: 26px;
    cursor: pointer;
    border-radius: 3px;
    margin: 10px 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}