

.nav { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.login-signup {
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: 5%;
    padding: 0 16px;
}

#nav-header-img {
    position: absolute;
    top: 22px;
    width: 85px;
    height: 68px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-header { 
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    height: 2.75rem;
    background-color: #fff;
    padding: 0 16px 0 32px;
}
#app-title {
    position: absolute;
    top: 45px;
    left: 105px;
    color: black;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}


#signup {
    display: inline-block;
    text-align: center;
    background-color: #247f9e;
    border: 1px solid #247f9e;
    top: 35px;
    color: white;
    width: 80px;
    line-height: 26px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0px 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

#login {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    color: #2d333f;
    width: 80px;
    top: 35px;
    line-height: 26px;
    cursor: pointer;
    border: 1px solid #d8d9db;
    border-radius: 3px;
    margin: 0px 0px 0px 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    padding: 0 16px;
}


.user-dropdown {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    align-content: center;
    width: 30px;
    height: 30px;
    top: 45px;
    position: relative;
    right: 133px;
}

.dropdown-list { 
    display: none;
}

.dropdown-greeting {
    position: relative;
    background-color: #eceeef;
    width: 352px;
    height: 33px;
    cursor: pointer;
    justify-content: flex-end;
    align-content: center;
    right: 343px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    bottom: -7px;
    border-radius: 3px;
    padding: 6px;
}

.dropdown-signout { 
    background-color: #eceeef;
    justify-content: flex-end;
    align-content: center;
    position: relative;
    right: 343px;
    height: 20px;
    width: 352px;
    top: 166px;
    font-family: 'Source Sans Pro';
    color: red;
    padding: 8px;
    border-radius: 3px;
}

.user-dropdown .dropdown-list {
    display: block;
    top: 15px;
    position: absolute;
}


.dropdown-list.arrow-top {
    content: " ";
    width: 0px;
    height: 0px;
    position: relative;
    top: 11%;
    border-top: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #eceeef;
    left: 4px;
}

.user-icon {
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
    top: 10px;
}
 
