

.unit-photo {
    width: 231px;
    height: 231px;
    clip-path: inset(22% 4% 11% -3%);
    object-fit: contain;
    overflow: hidden;
    max-height: 200px;
    display: table-cell;
}


.unit-info {
    font-family: 'Source Sans Pro';
    display: inline;
    color: black;

}

.rest-index{
    display: flex;
    width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.name {
    font-weight: 600;
    font-size: 19px;

}

.restaurant-index-item {
    display: flex;
    position: relative;
    bottom: 411px;
    border-radius: 2px;
    //text-decoration: none;
    /* margin-top: -27px; */
}

.rest-unit{
    display: flex;
    // box-shadow: 3px 3px 3px rgb(199, 198, 198);
    // cursor: pointer;

}

.rest-unit:hover {
    box-shadow: 3px 3px 3px rgb(184, 182, 182);
    cursor: pointer;
    //padding:3px;
}

.booking-header {
        display: flex;
    font-family: 'Source Sans Pro';
    font-size: 26px;
    font-weight: 600;
    z-index: 20;
}


.profile-image-tags{
    height: 300px;
    display: inline-block;
    clip-path: inset(22% 4% 11% 3%);
}

.all-photos{
    display: flex;
    justify-content: center;
    border: black 2px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    
}

