.search-cont {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    justify-content: center;
    align-items: center;
    margin-left: 169px;
}
.search-date {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid lightgray;
  border-left: none;
  border-top: none;
  border-bottom: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #2d333f;
  cursor: pointer;
  height: 50px;
  width: 150px;
  padding-left: 10px;
}
.search-header {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 42px;
  align-items: center;
  margin-bottom: 23px;
  display: flex;
}
.search-action {
    height: 47px;
    margin-left: 14px;
    border: none;
    border-radius: 4px;
    width: 300px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    padding-left: 10px;
    cursor: pointer;
}

.search-button{
  margin-left: 10px;
  width: 145px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: #da3743;
  color: white;
  font-size: 15px;
  font-weight: 700;
  font-family: sans-serif;
  cursor: pointer;
}

.search-time {
  height: 50px;
  width: 150px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #2d333f;
  cursor: pointer;
  padding-left: 10px;
}

.search-party {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid lightgray;
  border-right: none;
  border-top: none;
  border-bottom: none;
  font-family: 'Source Sans Pro', sans-serif;;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #2d333f;
  cursor: pointer;
  height: 48px;
  width: 150px;
  padding-left: 10px;
}

.search-bar{
  margin-left: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  
}