.show-link-item {
    text-decoration: none;
}

.show-header{
   height: 300px;
    width: 100%;
    object-fit: cover;
    position: relative;
    bottom: 38px;
}

.show-name{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 50px;
}

.show-page-info{
    max-width: 450px;
    font-family: 'Source Sans Pro';
}

.show-content{
    display: flex;
    justify-content: center;
    position: relative;
}

.profile-image-tags{
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
}
