.all-photos {
    display: flex;
    padding: 10px 0;
}

.all-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    margin-bottom: 10px;
}