.show-link-item {
    text-decoration: none;
}

.show-header{
    clip-path: inset(27% 0 29% 0);
    width: 100%;
    bottom: 58px;
    position: relative;
    display: flex;
    bottom: 246px;
}

.show-name{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 50px;
}

.show-page-info{
   display: flex;
    justify-content: center;
    max-width: 450px;
    position: relative;
    bottom: 355px;
    font-family: 'Source Sans Pro';
}

.restaurant-info {
    align-content: center;
}

.show-content{
    display: flex;
    justify-content: center;
    position: relative;
}

.all-photos{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
